p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

.video-preview{
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.thumbnail{
    width: 100%;
}

.vid-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}

.channel-pic {
}

.profile-pic {
    width: 100%;
}

.video-info {
}

.vid-title{
    margin-top: 0; 
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 12px;
}

.vid-author {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 5px;
}

.vid-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.search-bar {
    display: block ;
}






